body {
    width: 30rem;
    height: auto;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

header{
    text-align: center;
    font-weight: bold;
}

.selection_box{
    background-color: #121212;
    border-radius: 8px;
}

.form-p {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

select {
    width: 10rem;
}



  /* Estilize o botão */
button {
    background-color: black;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: large;
    color: green;
   
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: green;
    color: white; 
    border: 2px solid black;
}