.playlistGenerator{
    color: white;
}

.playlistList{
    background-color: #121212;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
}

.playlistList ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}